.aallbc {
  text-align: center;
  
  background-color: #fef3c7;

  margin: 0 auto;


  padding: 40px 20px;
}

.aallbc h2 {
  font-size: 2em;
  
  margin-bottom: 30px;

  color: #92400e;


  font-weight: bold;
}

.nobookinall {
 
  justify-self: center;

  
  margin-top: 200px;

  text-align: center;
  
  align-self: center;

  margin-bottom: 200px;

   color: rgb(243, 8, 8);
  
}


.sorrty {
  display: flex;

   margin-bottom: 16px;
  justify-content: flex-end;
  gap: 10px;
 
}


.sorrty button:active {
  background-color: #69310b;
}


.table-wrapper {
 
  overflow-x: auto;

   width: 100%;
}


.books-table {
  width: 100%;
 
  border-radius: 8px;

   border-collapse: collapse;
  margin: 0 auto;
  background-color: #fffbeb;


  overflow: hidden;
}




.books-table thead {
  background-color: #fed7aa;
}




.books-table th,
.books-table td {
  padding: 12px 16px;
  text-align: left;
 
  color: #78350f;

   font-size: 0.95rem;
  border-bottom:  solid #fde68a 1px;
}


.books-table tbody tr:nth-child(even) {
  background-color: #fff7ed;
}

.sorrty button {
  background-color: #813b10;
  border: none;
  
  color: white;

  padding: 10px 16px;
  border-radius: 7px;

  
  font-weight: 600;
  
}

.books-table th {
  font-weight: 700;
}



.table-cover {

     border-radius: 4px;
  width: 50px;
  
  object-fit: cover;

  height: 70px;
 
}



.details-btn {
  background-color: #d97706;
  
  padding: 8px 14px;


  color: white;
  font-weight: 500;
  
  border-radius: 6px;


  border: none;
 
}


@media (max-width: 576px) {
  .books-table th,
  .books-table td {
    padding: 8px 10px;
    font-size: 0.85rem;
  }


  .table-cover {
    width: 280px;

    object-fit: cover;
    height: auto;
  }
}
