.aallbc {

    text-align: center;
  margin: 0 auto;

   background-color: #fef3c7;
  padding: 40px 20px;

 
}


.bcard {
  display: grid;
 
  gap: 22px;

   grid-template-columns: repeat(3, 1fr);
 
  margin: 0 auto;
}

.book-card {
  background: #fffbeb;
 
  
  text-align: center;


   overflow: hidden;
}



.book-card img {
  width: 100%;


   margin-bottom: 12px;

    object-fit: cover;
  border-radius: 6px;
  height: 300px;
 
 
}
.nobookinall{
  color: red;
  justify-self: center;

  margin-top: 200px;
  margin-bottom: 200px;
  align-self: center;
}


.book-card h3 {
  margin: 10px 0;
  font-size: 1.2em;


  
  color: #78350f;
}


.book-card button {
  margin-top: 12px;


  font-weight: 500;

  border: none;
  padding: 10px 20px;

  color: white;
  border-radius: 6px;
 
  
  background-color: #d97706;
  
  
 
}




@media (max-width: 576px) {
  .bcard {
    grid-template-columns: 1fr;
  }
}

.sorrty {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 16px;
}

.sorrty button {
  background-color: #813b10;


   border: none;
 
  padding: 10px 16px;


   border-radius: 7px;
  color: white;
 
  font-weight: 600;
 
}



.sorrty button:active {
  background-color: #69310b;
  transform: translateY(0);
}



.aallbc h2 {
  font-size: 2em;

   color: #92400e;
  margin-bottom: 30px;
 
  font-weight: bold;
}


.book-card p {
  color: #92400e;

   font-size: 0.95em;
  margin: 6px 0;
 
}

.book-card{

  border-radius: 9px;
 
  padding: 16px;

   border:  solid 2px #fde68a;
}