
.hero-banner {
  display: flex;
   background-size: cover;

   
  border-radius: 30px;
 
 
  background-position: center;

   margin-left: 100px;
  background-image: url("https://francetoday.com/wp-content/uploads/2022/03/alfons-morales-YLSwjSy7stw-unsplash-min-670x392.jpg"); /* Add your image URL here */


}



h1 {

   margin-bottom: 1rem;
  font-size: 3rem;

  color: #ede7e3;

 
  
  font-weight: bold;
}



.button-container {
  display: flex;


    justify-content: center;
  gap: 1rem;

}

button {
  padding: 1rem 2rem;


   border-radius: 10px;
  border: none;
  font-size: 1rem;
 
 
  font-weight: 500;
}

p {
  font-size: 1.25rem;
  margin-bottom: 2rem;


color: #f7f4f3;
}


.btn-create-book {
  background-color: #b45309; 


  color: white;
}


.tgrr{
  display: flex;
  justify-content: center;


flex-direction: column;
  align-items: center;
}



.tgrr {
  width: 100%;
  margin: 0 auto;
  padding: 32px 16px;
 
  
}


.header {
  display: flex;


  align-items: center;

  margin-bottom: 32px;
justify-content: space-between;
  
}


.title {
  font-size: 30px;

   color: #92400e;
 
font-weight: bold;


  margin-bottom: 8px;
 
}


.hero-banner{

justify-content: center;
  align-items: center;

   margin-top: 100px;
  height: 400px;
 
  margin-right: 100px;
}


.textual{
    display: flex;
    justify-content: center;

     align-items: center;
    flex-direction: column;
   
    
}
.subtitle {
  color: black;
  
  
}

.gotoallbtn {
  padding: 10px 24px;
  
  border-radius: 10px;
  border: none;
  
  font-weight: 500;

   background-color: #92400e;
  color: white;
 
}




.tgrr-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 
padding: 50px;
  gap: 22px;
  background-color: rgb(250, 247, 235);  
  
  
}


.tgrr{
     background-color: white;
      
      width: 100%;
    
      
    
 
 

   

}
.no-books-message {
  grid-column: 1 / -1;

   color: #6c6969;
  text-align: center;
 
}


.bookies {
  background-color: white;

  margin: 0px;

  border-radius: 12px;
  

  
}



.bookies-image {


   background-color: #e5e7eb;
  height: 300px;
  overflow: hidden;
 
}

.book-image {
  width: 100%;

    object-fit: cover;
  height: 100%;

}





.book-title {
  font-size: 17px;

  margin-bottom: 8px;
overflow: hidden;


  font-weight: 500;
  
text-overflow: ellipsis;
 
 
}

.btn-all-books {
  background-color: #92400e; 
  color: white;
}




.author {
  color: #666;
  margin-bottom: 8px;
}



.genre {
  display: inline-block;


 color: #92400e;

  padding: 4px 12px;
 
  border-radius: 9999px;


   background-color: #fef3c7;
 
  font-size: 14px;
  margin-bottom: 12px;
}




.rating {
  display: flex;

 margin-bottom: 12px;

  align-items: center;
 
}



.book-info {
  padding: 20px;
}



.star {
  color: #fbbf24;
  margin-right: 4px;
}

.rating-value {
  font-weight: 500;
}

.review-count {

   font-size: 15px;
  color: #6e6c6c;
 
  margin-left: 8px;
}



.description {
  color: #0b0a0a;


 margin-bottom: 16px;
  overflow: hidden;


  font-size: 14px;
 
  text-overflow: ellipsis;
 
}



.banner-content {
  text-align: center;
  color: #dfdcda; 
}



.view-details-button {
  width: 100%;
 
  border: none;
  
  font-weight: 500;


   padding: 10px 16px;
  background-color: #813b10;



  color: white;
  border-radius: 8px;
 
}



.loading-container, .error-text {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loading-text {
  font-size: 18px;
}

.error-text {
  color: #ef4444;
}


.book-tooltip {
  background-color: #813b10 !important;
  color: white!important;
 
  white-space: normal !important;

   font-size: 0.85rem !important;
  max-width: 250px !important;
  line-height: 1.4;
  border-radius: 6px;
  padding: 8px 10px !important;
}

.aboutergrid {
  display: grid;
 
  grid-template-columns: repeat(3, 1fr);

 gap: 32px;
  margin-top: 40px;
}




.react-tooltip {
  z-index: 9999;
}

.toogle{
   position: relative;
  border-radius: 20px;
 
  z-index: 1000;
  border-color: #3e2723;


   top: 10px;
  
  left: 20px;
  padding: 10px 20px;

right: 20px;
  bottom: 10px;
  font-weight: 600;
 
}


@media (max-width: 576px) {
  .tgrr-container{
     grid-template-columns: repeat(1, 1fr);
     width: 100%;
     margin: 0 auto;
  }
.tgrr{
  
}
 .aboutergrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.hero-banner{
  width: 80%;

 
  margin: 0 auto;
}



.toogle{
   position: relative;
  border-radius: 20px;
 top: -10px;
  right: 20px;
 
  left: 20px;
 
  z-index: 1000;
  border-color: #3e2723;
  font-weight: 600;
  
}


h1 {
  font-size: 1.5rem;

 color: #ede7e3;
  margin-bottom: 1rem;
 
  font-weight: bold;
}



p {
  display: none;
}
}
